/* ========== [태그 초기화] ========== */
/*
*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
html, body {min-width:320px; width:100%; height:100%; margin:0; padding:0;}
body{font-family: 'Noto Sans KR', sans-serif; color:#111;-webkit-text-size-adjust:none; word-break:keep-all;}
div, header, footer, p, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section,
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td,
form, fieldset, legend, input, textarea, button, select, blockquote {margin:0; padding:0;font-family:'Noto Sans KR';font-size:100%;}
fieldset, img, iframe, frame {border:0}
legend, caption {overflow:hidden; position:absolute; left:-9999em; top:-9999em; font-size:0; line-height:0; visibility:hidden;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
img {max-width:100%; vertical-align:top;}
img, input, textarea, fieldset {border:none; outline:none; border-radius:0;}
a {color:#111; text-decoration:none;}
a:link, a:visited, a:hover, a:active {text-decoration:none; outline:none;}
ul, ol {list-style:none}
li {list-style:none;}
em, address {font-style:normal;}
strong {font-weight:bold;}
legend, hr, caption {display:none}
table {border-spacing:0}
th {font-weight:normal;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
u {text-decoration:none;}
figure {margin:0; padding:0;}
pre {margin:0; padding:0;}
select, input, button, textarea {-webkit-appearance:none; border-radius:0px; -webkit-border-radius:0; border:none; background:none;}
textarea {resize:none; overflow:auto;}
label {cursor:pointer;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance:none;}
iframe[name="name"] {display:none; height:0;}
button {outline:none; cursor:pointer;}
*/

.calculator_area td {
    padding: 0;
    vertical-align: top;
}

.calculator_area td div {
    width: 100%;
    height: 38px;
    margin: 0;
    padding: 0;
}

.calculator_area td button {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 38px;
    border: none;
    cursor: pointer;
}
